/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    text-align: center;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/*TOPO*/
header{
    width: 100%;
    background-color: rgb(155, 27, 49);
    color: pink;
    height: 70px;
}
.container{
    padding-top: 15px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
nav{
    width: 50%;
    padding-top: 10px;
}
nav a{
    color: pink;
    padding-left: 20px;
}